.Root {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--ov-space-stack-sm);
  background: transparent;
  min-height: var(--_ov-toolbar-height, var(--ov-control-height-md));
}

.Root[data-ov-size='xs'] {
  --_ov-toolbar-height: var(--ov-control-height-xs);
  font-size: var(--ov-size-button-font-size-xs);
}

.Root[data-ov-size='sm'] {
  --_ov-toolbar-height: var(--ov-control-height-sm);
  font-size: var(--ov-size-button-font-size-sm);
}

.Root[data-ov-size='md'] {
  --_ov-toolbar-height: var(--ov-control-height-md);
}

.Root[data-ov-size='lg'] {
  --_ov-toolbar-height: var(--ov-control-height-lg);
}

.Root[data-ov-size='xl'] {
  --_ov-toolbar-height: var(--ov-control-height-xl);
}

.Group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--_ov-toolbar-group-gap, var(--ov-space-stack-xs));
}

.Separator {
  display: block;
  width: 1px;
  height: calc(var(--_ov-toolbar-height, 2.25rem) * 0.6);
  margin-block: auto;
  background-color: var(--ov-color-border-muted);
  flex-shrink: 0;
}
