.Root {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--ov-size-container-gutter);
  max-width: var(--_ov-max-width, var(--ov-size-container-lg));
}

.Root[data-ov-max-width='sm'] {
  --_ov-max-width: var(--ov-size-container-sm);
}
.Root[data-ov-max-width='md'] {
  --_ov-max-width: var(--ov-size-container-md);
}
.Root[data-ov-max-width='lg'] {
  --_ov-max-width: var(--ov-size-container-lg);
}
.Root[data-ov-max-width='xl'] {
  --_ov-max-width: var(--ov-size-container-xl);
}
.Root[data-ov-max-width='full'] {
  --_ov-max-width: 100%;
}

.Root[data-ov-gutters='false'] {
  padding-inline: 0;
}

.Root[data-ov-fixed='true'] {
  width: var(--_ov-max-width, var(--ov-size-container-lg));
}
