.Root {
  --_ov-icon-size: var(--ov-size-icon-button-icon-md);

  inline-size: var(--_ov-control-height);
  block-size: var(--_ov-control-height);
  min-inline-size: var(--_ov-control-height);
  min-width: var(--_ov-control-height);
  padding: 0;
}

.Root[data-ov-size='xs'] {
  --_ov-icon-size: var(--ov-size-icon-button-icon-xs);
}

.Root[data-ov-size='sm'] {
  --_ov-icon-size: var(--ov-size-icon-button-icon-sm);
}

.Root[data-ov-size='lg'] {
  --_ov-icon-size: var(--ov-size-icon-button-icon-lg);
}

.Root[data-ov-size='xl'] {
  --_ov-icon-size: var(--ov-size-icon-button-icon-xl);
}

.Root :where(svg) {
  inline-size: var(--_ov-icon-size);
  block-size: var(--_ov-icon-size);
  flex-shrink: 0;
}
