*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  font-family: var(--ov-font-sans);
  background: var(--ov-color-bg-primary);
  color: var(--ov-color-fg-primary);
  -webkit-font-smoothing: antialiased;
}
